# DJANGO CONFIGURATION
DJANGO_DEBUG=True
DJANGO_SECRET_KEY='000000'
DJANGO_ALLOWED_HOSTS='127.0.0.1, localhost'
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_HOST='smtp.gmail.com'
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER='test@domain.com'
DJANGO_EMAIL_HOST_PASSWORD='password'

# CORS
CORS_ALLOWED_ORIGINS='http://localhost:3000, http://127.0.0.1:3000'

# CELERY CONFIGURATION
CELERY_BROKER_URL='redis://127.0.0.1:6379/0'

# WEBSITE DATABASE CONFIGURATION (LIVE)
APP_DB_NAME=''
APP_DB_USER=''
APP_DB_PASS=''
APP_DB_HOST=''
APP_DB_PORT=''
